* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #3A3A3A;

    background-color: #F5F6F8;
}

.nav-container {
    background-color: rgba(255, 255, 255, 0.822);
    position: static;
    height: 40px;
    font-size: x-large;
    font-family: monospace;
    text-align: center;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1) ;
    color: rgb(86, 86, 170);
    line-height: 35px;
}

.mainpage {
    text-align: center;
}

.heading_mainpage {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: x-large;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #192A3E;
}

.trimmer_videos {
    position: relative;
    width: 70%;
    min-width: fit-content;
    text-align: center;
    height: 424px;
    min-height: fit-content;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: 15px rgb(86, 86, 170);
    padding: 20px;
    margin: 5% 10% 5% 10%;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1) ;


    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.thumnail {
    float: left;
    width: 30%;
    padding: 10px;
    margin-left: 20px;
}

.trimmer_tools {
    float: left;
    width: 53%;
    padding: 10px;

    
}

.thumnail div, .trimmer_tools div {
    margin-bottom: 10px;
}

.header_trimmer_tools {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    background: white;
    width: 100%;
    min-height: 1px;

    letter-spacing: 0.01em;

    color: #3A3A3A;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(213, 223, 75);
  }

  .button3:hover {
    background-color: rgb(213, 223, 75);
    color: white;
  }

  .button4 {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(214, 89, 67);
  }

  .button4:hover {
    background-color: rgb(214, 89, 67);
    color: white;
  }

  @media (max-width: 1260px) {
    .trimmer_videos {
        height: 735px;
    }
    .trimmer_tools,.thumnail, .sequencer {
        min-width: fit-content;
    }
}