<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Virtual Stream - Video Dashboard</title>
    <link rel="stylesheet" href="style_videoeditor.css">
</head>
<body>
    <div class="nav-container">
        My Virtual Stream - Video Dashboard
    </div>
    <div class="mainpage">
        <div class="header_mainpage">
            <div class="heading_mainpage">
                Selected Files
            </div>
        </div>
        <div class="main_video_editor">
            <div class="videos">
                <div class="thumnail">

                </div>
                <div class="tools">

                </div>
            </div>
            <div class="videos">
                <div class="thumnail">

                </div>
                <div class="tools">
                    
                </div>
            </div>
            <div class="headlines">
                <form action="">
                    <textarea id="w3review" name="w3review" rows="4" cols="60">
                        Headline(s):
                    </textarea>
                </form>
            </div>
        </div>
        <div class="submitbuttons">
            <button type="button">Submit Selected files for review</button>
            <button type="button">merge files and submit button</button>
        </div>
    </div>
