<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Virtual Stream - Video Dashboard</title>
    <link rel="stylesheet" href="style_videoeditor.css">
</head>
<body>
    <div class="nav-container">
        My Virtual Stream - Video Dashboard
    </div>
    <div class="mainpage">
        <div class="header_mainpage">
            <div class="heading_mainpage">
                Selected Files
            </div>
        </div>
        <div class="main_video_editor">
            <div class="videos">
                <div class="thumnail">
                    <video class="vidplayer" width="360px" controls>
                        <source src="videos/103419456_136868234650688_2029296699229308621_n.mp4" type="video/mp4">
                        <source src="videos/103419456_136868234650688_2029296699229308621_n.mp4" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="tools">
                    <div class="header_tools">
                        Mujhko Yaad Sataye Teri.mp4
                    </div>
                    <form class="main_tools" action="">
                        <div class="subhead_main_tools">
                            Click to Select
                        </div>
                        <div class="form-inline">
                            <label for="noise">Remove Noise</label>
                            <input type="checkbox" id="noise" name="noise" value="remove_noise">
                            <label for="landscape">Make portrait to Landscape</label>
                            <input type="checkbox" id="landscape" name="landscape" value="portrait_to_landscape">
                        
                        <label for="repotinglocation">Reporting Location: </label>
                        
                        <input type="text" id="reportinglocation" name="reportinglocation"><br>
                        </div>
                        <div class="subhead_main_tools">
                            Recommended Options For Visuals
                        </div>
                        <div class="form-outline">
                            <form  action="" method="post" enctype="multipart/form-data">
                                Select External Audio File
                                <div class="upload_button">
                                    <input type="file" name="extAudioToUpload" id="extAudioToUpload">
                                </div>
                            </form>
            
                            <label for="removeaudio">Remove Default Audio</label
                            ><input type="checkbox" id="removeaudio" name="removeaudio" value="remove_deafault_audio">
            
                            <!--<form action="" method="post" enctype="multipart/form-data">
                                <br>Select Background Music File
                                <div class="upload_button">
                                    <input type="file" name="backmusic" id="back_music">
                                </div>
                            </form>-->
                        </div>
                        <label for="sync">Sync Visual with External Audio </label
                        ><input type="checkbox" id="sync" name="sync" value="sync_audio">
                        <div class="subhead_main_tools">
                            <br>Recommended Options For Bits
                        </div>
                        <label for="speakername">Speaker Name/ Relation: </label>
                        <input type="text" id="speakername" name="speakername"><br>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="headlines">
                <form action="">
                    <textarea id="w3review" name="w3review" rows="4" cols="60">
                        Headline(s):
                    </textarea>
                </form>
            </div>
        </div>
        <div class="submitbuttons">
            <button type="button">Submit Selected files for review</button>
            <button type="button">merge files and submit button</button>
        </div>
    </div>
</body>
</html>